
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

/.env.test
/.env
/.env.dev

/composer.json
/composer.lock
/.idea/modules.xml
/.idea/php.xml
/bin/phpunit
/.idea/phpunit.xml
/phpunit.xml.dist
/.idea/commandlinetools/Symfony_18_3_25__17_15.xml
/symfony.lock
/.idea/vcs.xml
/config/packages/cache.yaml
/compose.override.yaml
/assets/controllers.json
/config/packages/debug.yaml
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
